[submodule "vendor/growing_balls"]
	path = vendor/growing_balls
	url = https://github.com/krumpefp/growing_balls.git
[submodule "vendor/osm_input"]
	path = vendor/osm_input
	url = https://github.com/krumpefp/osm_input.git
